<div class="col-md-offset-1 col-md-10">
	
	<div class="well">
		<button class="btn btn-sm btn-success" ng-click="insert()">Adiocionar</button>
	</div>
	
	<table class="table">
	    <thead>
	      <tr>
	        <th>Nome</th>
	        <th>Data Nascimento</th>
	        <th>Cidade</th>
	        <th>Estado</th>	        
	        <th>Status</th>
	        <th>Ações</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr ng-repeat="runner in runners">        
	      	<td ng-bind="runner.nome"></td>
	        <td ng-bind="runner.data_nasc"></td>	        
	        <td ng-bind="runner.cidade"></td>
	        <td ng-bind="runner.estado"></td>	        
	        <td ng-bind="runner.status"></td>
	        <td>
	        	<button class="btn btn-sm btn-primary" ng-click="update(runner)">Editar</button>
	        	<button class="btn btn-sm btn-danger" ng-click="delete(runner)">Excluir</button>
        	</td>
	      </tr>      
	    </tbody>
	</table>

</div>