<div class="col-md-offset-1 col-md-10">
    
    <div class="well">
        <button class="btn btn-sm btn-success" ng-click="list()">Listar Corridas</button>
    </div>	
    
    <h1>Corrida</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data</th>
                <th>Descrição</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Valor</th>	       
                <th>Inscrições</th>                
            </tr>
        </thead>
        <tbody>
            <tr>        
                <td ng-bind="run.nome"></td>
                <td ng-bind="run.data | datapt"></td>
                <td ng-bind="run.descricao"></td>
                <td ng-bind="run.cidade"></td>
                <td ng-bind="run.estado"></td>
                <td ng-bind="run.valor_inscricao | moeda:2"></td>
                <td ng-bind="run.status | inscricao"></td>                
            </tr>      
        </tbody>
    </table>
    
    <h1>Corredores Inscritos</h1>

    <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data Nascimento</th>
            <th>Cidade</th>
            <th>Estado</th>	        
            <th>Ativo</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="runner in runners">
            <td ng-bind="runner.nome"></td>
            <td ng-bind="runner.data_nasc | datapt"></td>
            <td ng-bind="runner.cidade"></td>
            <td ng-bind="runner.estado"></td>
            <td ng-bind="runner.status | ativo"></td>            
          </tr>
        </tbody>
    </table>
    
</div>