<div class="col-md-offset-2 col-md-8">
    <h1>{{title}}</h1>
    <form name="form">        

        <div class="form-group has-feedback">
            <label class="control-label">Nome:</label>
            <div class="controls">
                <input type="text" class="form-control" name="nome" ng-model="run.nome" placeholder="Digite o nome" required>
                <small class="has-error help-block" ng-show="form.nome.$error.required && form.nome.$dirty">Obrigatório</small>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label">Data:</label>
            <div class="controls">
                <input type="text" name="data" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="run.data" is-open="opened" ng-click="open($event)" placeholder="Selecione a data" required readonly>
                <small class="has-error help-block" ng-show="form.data.$error.required && form.data.$dirty">Obrigatório</small>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label">Descrição</label>
            <div class="controls">
                <input type="text" name="descricao" class="form-control" ng-model="run.descricao" placeholder="Digite a descrição" required>
                <small class="has-error help-block" ng-show="form.descricao.$error.required && form.descricao.$dirty">Obrigatório</small>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label">Cidade</label>
            <div class="controls">
                <input type="text" name="cidade" class="form-control" ng-model="run.cidade" placeholder="Digite a cidade" required>
                <small class="has-error help-block" ng-show="form.cidade.$error.required && form.cidade.$dirty">Obrigatório</small>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label">Estado</label>
            <div class="controls">
                <select name="estado" class="form-control" ng-options="est for est in estados" ng-model="run.estado" placeholder="Selecione o estado" required>
                </select>
                <small class="has-error help-block" ng-show="form.estado.$error.required && form.estado.$dirty">Obrigatório</small>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label">Valor Inscrição</label>
            <div class="controls">
                <input type="number" name="valor_inscricao" class="form-control" ng-model="run.valor_inscricao" placeholder="Digite o valor" required>
                <small class="has-error help-block" ng-show="form.valor_inscricao.$error.required && form.valor_inscricao.$dirty">Obrigatório</small>
            </div>
        </div>
        
        <div ng-if="id_run != null" class="form-group has-feedback">
            <label class="control-label">Status</label>
            <div class="controls">                
                <div class="checkbox">
                    <label>
                        <input type="radio" ng-model="run.status" ng-value="true">Sim
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="radio" ng-model="run.status" ng-value="false">Não                      
                    </label>
                </div>                                                               
            </div>
        </div>

        <button ng-disabled="form.$invalid" type="button" class="btn btn-sm btn-success" ng-click="save()">Salvar</button>
        <button type="button" class="btn btn-sm btn-warning" ng-click="cancel()">Cancelar</button>

    </form>
</div>