<div class="col-md-offset-2 col-md-8">
    <h1>{{title}}</h1>
    <form name="form">        
        
        <div class="form-group has-feedback">
            <label class="control-label">Corrida</label>
            <div class="controls">
                <select name="corrida" class="form-control" ng-options="run.id as run.nome for run in runs" ng-model="runEntry.corrida" required>                    
                    <option value="">Selecione a corrida</option>
                </select>
                <small class="has-error help-block" ng-show="form.corrida.$error.required && form.corrida.$dirty">Obrigatório</small>
            </div>
        </div>
        
        <div class="form-group has-feedback">
            <label class="control-label">Corredor</label>
            <div class="controls">
                <select name="corredor" class="form-control" ng-options="runner.id as runner.nome for runner in runners" ng-model="runEntry.corredor" required>                    
                    <option value="">Selecione o corredor</option>
                </select>
                <small class="has-error help-block" ng-show="form.corredor.$error.required && form.corredor.$dirty">Obrigatório</small>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="control-label">Pago</label>
            <div class="controls">
                <select name="status_pagamento" class="form-control" ng-model="runEntry.status_pagamento" required>
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                </select>
                <small class="has-error help-block" ng-show="form.status_pagamento.$error.required && form.status_pagamento.$dirty">Obrigatório</small>
            </div>
        </div>

        <button ng-disabled="form.$invalid" type="button" class="btn btn-sm btn-success" ng-click="save()">Salvar</button>
        <button type="button" class="btn btn-sm btn-warning" ng-click="cancel()">Cancelar</button>

    </form>
</div>